<%= form_for( @location, url: api_v1_locations_path ) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :longitude %>
  <%= f.hidden_field :latitude %>
  <% f.submit %>
<% end %>
<p><%= current_user.email %></p>