
<% if @current_location %>
<div class="container has-location">
  <p><%= @current_location.longitude %></p>
  <p><%= @current_location.latitude %></p>
  <%= form_for( @location, url: user_locations_path(current_user), remote: true ) do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :latitude %>
    <%= hidden_field :date_time, :timezone %>
    <%= hidden_field :date_time, :year %>
    <%= hidden_field :date_time, :day %>
    <%= hidden_field :date_time, :month %>
    <%= f.submit "Update Location", class: "btn btn-default btn-sand js-submit" %>
  <% end %>
</div>
<div class="container col-md-12 col-lg-12 col-xs-12" style="height: 240px">
  <div id="chart_div" style="height: 100%"><div>
</div>
<% else %>
<div class="container no-location">
  <%= form_for( @location, url: user_locations_path(current_user), remote: true ) do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :latitude %>
    <%= hidden_field :date_time, :timezone %>
    <%= hidden_field :date_time, :year %>
    <%= hidden_field :date_time, :day %>
    <%= hidden_field :date_time, :month %>
    <%= f.submit class: "js-submit" %>
  <% end %>
</div>
<% end %>

<p><%= current_user.email %></p>