    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <%= link_to "Sign in", new_user_session_path %>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <%= link_to "Sign up", new_user_registration_path %>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <%= link_to "Contact", contact_path %>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright © DeeBoost 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
    <%= javascript_include_tag "core/TimeCircles.js" %>
    <%= javascript_include_tag "core/jquery.ajaxchimp.min.js" %>
    <%= javascript_include_tag "core/script.js" %>
    <%= javascript_include_tag "core/jquery.placeholder.js" %>
    <script type="text/javascript">
      $(function() {
        // Invoke the plugin
        $('input, textarea').placeholder();
      });
    </script>
    <script>
      $("#count-down").TimeCircles(
       {   
           circle_bg_color: "#8a7f71",
           use_background: true,
           bg_width: 1.0,
           fg_width: 0.02,
           time: {
                Days: { color: "#fefeee" },
                Hours: { color: "#fefeee" },
                Minutes: { color: "#fefeee" },
                Seconds: { color: "#fefeee" }
            }
       }
    );

    </script>