<tr id="location_<%= location.id %>">
  <td><%= addition_date_for location %></td>
  <td><%= location.latitude %></td>
  <td><%= location.longitude %></td>
  <td><%= link_to "Delete Location", user_location_path(current_user, location), method: :delete, remote: true %></td>
</tr>