<!DOCTYPE html>
<html>
<head>
  <%= render partial: '/layouts/partials/head'%>
</head>
<body class="landing">

<%= render partial: 'layouts/partials/navigation' %>

<div class="bg">
  <div class="bg-color">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>  
</div>  

<%= render partial: '/layouts/partials/landing_js_footer' %>

</body>
</html>
