<!DOCTYPE html>
<html>
<head>
  <%= render partial: '/layouts/partials/users/head'%>
</head>
<body class="users_pages">

<%= render partial: 'layouts/partials/users/navigation' %>

<div class="">
  <div class="padding-wrapper">
    <div class="container-fluid content">
      <%= render partial: 'layouts/partials/flash' %>
      <%= yield %>
    </div>
  </div>  
</div>  

<%= render partial: '/layouts/partials/users/footer' %>

</body>
</html>
